@font-face {
  font-family: Scriptorial;
  src: url(../fonts/Scriptorial.ttf) format('truetype');
}

header a, .uk-navbar-nav li a, * h3{
    color: #E75480;
}
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.header-section h1{
    font-size: 80px;
}

.header-section h2, .uk-section h3{
    font-size: 45px;
}
.header-section h1, .header-section h2, .uk-section h3{
    font-family: Scriptorial;
}
.header-section h1, .uk-section, .uk-section h3, .header-section h2, .counter{
    color: #E75480;
}

.header-section a{
    background-color: #E75480;
    border-radius: 10px;
}

.uk-section-secondary, .uk-background-secondary {
    background-color: #F3BECC;
}

.uk-background-secondary-lighter {
    background-color: #FFE6EE;
}
nav img{
    height: 120px;
    padding: 15px;
}

.uk-height-custom-large {
    height: 85vh;
    width: 100%
}

#timeCounter .uk-card{
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
}

#timeCounter .uk-card p{
    font-size: 14px;
    font-weight: normal;
    padding-left:15px;
}

header .subtitle {
    color: #E75480;
    font-size: 20px;
    width: 100%;
}

.about .subtitle, .services .subtitle {
    color: #E75480;
    font-weight: bold;
    font-size: 40px;
    width: 600px;
    padding: 20px 0px;
}

footer{
    padding-top: 50px;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

