{% extends 'base.html.twig' %}

{% block title %}Hello Controller!{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('events') }}
{% endblock %}

{% block body %}
<div class="uk-section uk-section-large uk-background-secondary-lighter">
    <div class="uk-container">
        <div class="uk-text-center" uk-grid>
            <div class="uk-width-1-2@s">
                <img src="images/img.png" width="1800" height="1200" alt="">
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-text-justify events">
                    <h2><span class="uk-margin-xsmall-right" uk-icon="icon: calendar; ratio: 2"> </span>Aout 2025</h2>
                    <h3>Début des incriptions</h3>
                    <hp><span class="uk-margin-xsmall-right" uk-icon="icon: location; ratio: 1"></span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, unde.</hp>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores cumque omnis quae quasi esse voluptas, aliquam, reprehenderit voluptatem aliquid officia error. Sed laborum commodi, assumenda iure quo suscipit enim ipsa molestiae asperiores, ullam tenetur repellendus nostrum. Labore, velit deserunt aperiam voluptatem, rerum aspernatur, dolorem mollitia vitae officiis atque qui dolor.</p>
                </div>
            </div>
        </div>

        <div class="uk-text-center uk-visible@s" uk-grid>
            <div class="uk-width-1-2">
                <div class="uk-text-justify events">
                    <h2><span class="uk-margin-xsmall-right" uk-icon="icon: calendar; ratio: 2"> </span>Aout 2025</h2>
                    <h3>Début des incriptions</h3>
                    <hp><span class="uk-margin-xsmall-right" uk-icon="icon: location; ratio: 1"></span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, unde.</hp>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores cumque omnis quae quasi esse voluptas, aliquam, reprehenderit voluptatem aliquid officia error. Sed laborum commodi, assumenda iure quo suscipit enim ipsa molestiae asperiores, ullam tenetur repellendus nostrum. Labore, velit deserunt aperiam voluptatem, rerum aspernatur, dolorem mollitia vitae officiis atque qui dolor.</p>
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <img src="images/img.png" width="1800" height="1200" alt="">
            </div>
        </div>
        <div class="uk-text-center" uk-grid>
            <div class="uk-width-1-2@s">
                <img src="images/img.png" width="1800" height="1200" alt="">
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-text-justify events">
                    <h2><span class="uk-margin-xsmall-right" uk-icon="icon: calendar; ratio: 2"> </span>Aout 2025</h2>
                    <h3>Début des incriptions</h3>
                    <hp><span class="uk-margin-xsmall-right" uk-icon="icon: location; ratio: 1"></span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, unde.</hp>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores cumque omnis quae quasi esse voluptas, aliquam, reprehenderit voluptatem aliquid officia error. Sed laborum commodi, assumenda iure quo suscipit enim ipsa molestiae asperiores, ullam tenetur repellendus nostrum. Labore, velit deserunt aperiam voluptatem, rerum aspernatur, dolorem mollitia vitae officiis atque qui dolor.</p>
                </div>
            </div>
        </div>

        <div class="uk-text-center" uk-grid>
            <div class="uk-width-1-2@s">
                <img src="images/img.png" width="1800" height="1200" alt="">
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-text-justify events">
                    <h2><span class="uk-margin-xsmall-right" uk-icon="icon: calendar; ratio: 2"> </span>Aout 2025</h2>
                    <h3>Début des incriptions</h3>
                    <hp><span class="uk-margin-xsmall-right" uk-icon="icon: location; ratio: 1"></span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, unde.</hp>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores cumque omnis quae quasi esse voluptas, aliquam, reprehenderit voluptatem aliquid officia error. Sed laborum commodi, assumenda iure quo suscipit enim ipsa molestiae asperiores, ullam tenetur repellendus nostrum. Labore, velit deserunt aperiam voluptatem, rerum aspernatur, dolorem mollitia vitae officiis atque qui dolor.</p>
                </div>
            </div>
        </div>

        <div class="uk-text-center uk-visible@s" uk-grid>
            <div class="uk-width-1-2@s">
                <div class="uk-text-justify events">
                    <h2><span class="uk-margin-xsmall-right" uk-icon="icon: calendar; ratio: 2"> </span>Aout 2025</h2>
                    <h3>Début des incriptions</h3>
                    <hp><span class="uk-margin-xsmall-right" uk-icon="icon: location; ratio: 1"></span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, unde.</hp>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores cumque omnis quae quasi esse voluptas, aliquam, reprehenderit voluptatem aliquid officia error. Sed laborum commodi, assumenda iure quo suscipit enim ipsa molestiae asperiores, ullam tenetur repellendus nostrum. Labore, velit deserunt aperiam voluptatem, rerum aspernatur, dolorem mollitia vitae officiis atque qui dolor.</p>
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <img src="images/img.png" width="1800" height="1200" alt="">
            </div>
        </div>
        <div class="uk-text-center" uk-grid>
            <div class="uk-width-1-2@s">
                <img src="images/img.png" width="1800" height="1200" alt="">
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-text-justify events">
                    <h2><span class="uk-margin-xsmall-right" uk-icon="icon: calendar; ratio: 2"> </span>Aout 2025</h2>
                    <h3>Début des incriptions</h3>
                    <hp><span class="uk-margin-xsmall-right" uk-icon="icon: location; ratio: 1"></span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, unde.</hp>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores cumque omnis quae quasi esse voluptas, aliquam, reprehenderit voluptatem aliquid officia error. Sed laborum commodi, assumenda iure quo suscipit enim ipsa molestiae asperiores, ullam tenetur repellendus nostrum. Labore, velit deserunt aperiam voluptatem, rerum aspernatur, dolorem mollitia vitae officiis atque qui dolor.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
